{% if app.request.attributes.get('_route') == '' %}
{% set template = 'layout.html.twig' %}
{% else %}
{% set template = 'layout_login.html.twig' %}

{% endif %}
{% extends template %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                  <div id="wrapper">
                    <div id="login" class="animate form">

                                

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<h1>Log in</h1> 

<p>
    <label for="username" class="uname" data-icon="u">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	</p>
<p>
    <label for="password" class="youpasswd" data-icon="p">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
	</p>
<p class="keeplogin"> 
    <input type="checkbox" id="remember_me loginkeeping" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	</p>

    <p class="login button"> <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /></p>
</form>

                        </div>
                    </div>
                  
{% endblock fos_user_content %}
