{% extends "LGMAdministrationBundle::layout.html.twig" %}





{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("#list").DataTable();
        });
    </script>
{% endblock %}

{% block page_body %}
    <div class="box box-info box-solid">
        <div class="box-header with-border">
            <h3 class="box-title text-uppercase">Bilan Production Scientifique </h3>
            <span class="pull-right">
                <a href="{{ path('new_article') }}" class="btn btn-success text-uppercase"><i class="fa fa-plus"></i> Ajouter</a>
            </span>
        </div>

        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="list"  class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 246px;" aria-label="titre: activate to sort column descending" aria-sort="ascending">Groupe</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="annePublication: activate to sort column ascending">User</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="nbAuteur: activate to sort column ascending">Articles IF</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 268px;" aria-label="valeur: activate to sort column ascending">Articles ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="nomJournal: activate to sort column ascending">Article NID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="Télècharger: activate to sort column ascending">Communication ID</th>

                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 154px;" aria-label="Actions: activate to sort column ascending">Communication NID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 154px;" aria-label="Actions: activate to sort column ascending"> IP</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for grp in groupes %}
                                    <tr>
                                        <td>{{ grp.nom }}</td>
                                        <td>    
                                            {% for user in grp.users %}                                                                        

                                                {{ user.nom ~ " " ~ user.prenom }}<br>

                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for user in grp.users %}   

                                                {{ user.countA('Article IF') }}<br>

                                            {% endfor %}

                                        </td>
                                        <td>
                                            {% for user in grp.users %}

                                                {{ user.countA('Article ID') }}<br>

                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for user in grp.users %}

                                                {{ user.countA('Article N ID') }}<br>

                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for user in grp.users %}

                                                {{ user.countC('Communication ID') }}<br>

                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for user in grp.users %}

                                                {{ user.countC('Communication N ID') }}<br>

                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for user in grp.users %}

                                                {{ 2* user.countA('Article ID')+2* user.countC('Communication N ID') }}<br>

                                            {% endfor %}
                                        </td>
                                        
                                        
                                        
                                        
                                    </tr>            
                                {% endfor %}
                            </tbody>



                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>

{% endblock %}















